requests~=2.32.3
Django==5.2.7
django-filter==25.2
django-jazzmin==3.0.1
django-redis==6.0.0
djangorestframework==3.16.1
python-dotenv==1.1.1
redis==6.4.0
psycopg2-binary==2.9.11
drf-yasg~=1.21.11
drf-pydantic~=2.9.0
gunicorn~=23.0.0
